{% extends 'base.html' %}

{% block i %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-5">
    <div class="row mb-4">
        <div class="col text-center">
            <h3>Graphiques d'Humidité</h3>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col text-center">
            <button id="aujourdhui-link" class="btn btn-primary mx-2">Aujourd'hui</button>
            <button id="semaine-link" class="btn btn-secondary mx-2">Semaine</button>
            <button id="mois-link" class="btn btn-secondary mx-2">Mois</button>
        </div>
    </div>
    <div class="row">
        <!-- Graphique en Ligne -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Graphique en Ligne</h5>
                    <canvas id="line-chart" height="150"></canvas>
                </div>
            </div>
        </div>
        <!-- Graphique en Barres -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">Graphique en Barres</h5>
                    <canvas id="bar-chart" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    // Fonction pour créer différents types de graphiques
    function createCharts(url) {
        fetch(url)
            .then(response => response.json())
            .then(data => {
                var labels = data.temps;
                var dataValues = data.humidity;
                var startIndex = labels.length - 27;
                if (startIndex < 0) startIndex = 0;
                labels = labels.slice(startIndex);
                dataValues = dataValues.slice(startIndex);

                // Graphique en Ligne
                var lineCtx = document.getElementById('line-chart').getContext('2d');
                new Chart(lineCtx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Humidité (%)',
                            data: dataValues,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgb(54, 162, 235)',
                            borderWidth: 2,
                            pointStyle: 'circle',
                            pointRadius: 2,
                            pointBorderColor: 'black'
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 100,
                                    callback: function(value) {
                                        return value + '%';
                                    }
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10
                                }
                            }]
                        }
                    }
                });

                // Graphique en Barres
                var barCtx = document.getElementById('bar-chart').getContext('2d');
                new Chart(barCtx, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Humidité (%)',
                            data: dataValues,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgb(255, 99, 132)',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    min: 0,
                                    max: 100,
                                    callback: function(value) {
                                        return value + '%';
                                    }
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    autoSkip: true,
                                    maxTicksLimit: 10
                                }
                            }]
                        }
                    }
                });
            });
    }

    // Gestion des boutons pour activer/désactiver les styles
    const buttons = {
        today: document.getElementById('aujourdhui-link'),
        week: document.getElementById('semaine-link'),
        month: document.getElementById('mois-link')
    };

    function setActiveButton(activeButton) {
        for (let key in buttons) {
            buttons[key].classList.remove('btn-primary');
            buttons[key].classList.add('btn-secondary');
        }
        activeButton.classList.remove('btn-secondary');
        activeButton.classList.add('btn-primary');
    }

    // Ajouter des écouteurs pour chaque bouton
    buttons.today.addEventListener('click', () => {
        setActiveButton(buttons.today);
        createCharts('/chart-data-jour/');
    });

    buttons.week.addEventListener('click', () => {
        setActiveButton(buttons.week);
        createCharts('/chart-data-semaine/');
    });

    buttons.month.addEventListener('click', () => {
        setActiveButton(buttons.month);
        createCharts('/chart-data-mois/');
    });

    // Chargement initial avec le bouton "Aujourd'hui"
    setActiveButton(buttons.today);
    createCharts('/chart-data/');
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
